@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

body{
    display: block;
    margin: 5% auto;
    border-radius: 15px;
    overflow: hidden;
    max-width: 938px;
    box-shadow: 0 0 20px 0px;
}

main{
    /* margin: 5% auto;
    border-radius: 10px;
    overflow: hidden;
    max-width: 938px;
    box-shadow: 0 0 20px 0px; */
}

header, footer{ 
    height: 120px;
    background-color: #000080;
    padding: 15px;
    text-align: center;
    color: white;
    font-family: 'Xanh Mono', monospace;
    font-size: 1em;
}

h1 {
    font-size: 1.8em;
    

}

.picOfMe{
    

    height: auto;
    width: 250px;


}

.assignments{
    height: 250px;
    
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    padding-left: 20px;
}

.assignmentList{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;

}

li {
    padding: 2px;
}

.byuLink{
    color: white;
}