@media only screen and (min-width: 1025px){
    

    footer{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
    }
     main h2{
        text-align: left;
        padding: .3rem 2%;

    }

    nav ul li a{
        padding: .5rem 1.3rem;
    }

    /* .weather-summary{
         height: 50vh;
       
    }
    .heroimg{
        
        height: 60vh;
    
        
    } */
}