main{
    font-family: Ubuntu, sans-serif;
    background-color:  #7FB9C2;
    width: 400px;
    height: auto;
    margin-left: 35%;
  }
  h1{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
  }
  table{
    width: 100%;
  }
  th, td{
    border-top: .8px solid #E7F0ED;
    border-right: .8px solid #E7F0ED;
  }
  .header th{
    text-align: center;
    width: 30%;
    height: 40px;
    background-color: #628CA6;
    font-size: 1.3em;
    color: white;
  }
  tbody td{
    
    text-align: center;
    padding: 6px;
  }
  tbody tr:nth-child(even){
    background-color: #e7ffed;
  }
  tbody tr:nth-child(odd){
    background-color: #E7F0ED;
  }
  tfoot td{
    text-align: center;
    padding-top: 8px;
  }
  .salesGoal{
    background-color: #628CA6;
  }
  .blackFriday{
    font-style: italic;
  }